@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap");

:root {
  --gradient: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  --gradient1: linear-gradient(
    135deg,
    hsla(229, 76%, 66%, 0.488) 0%,
    hsla(270, 37%, 46%, 0.493) 100%
  );
  --url-img: url(img/bg.jpg);
  --box-sadow: 6px 6px 10px rgba(0, 0, 0, 0.6);
  --width: 100%;
  --radius: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  min-height: 100vh;
  background-image: var(--gradient1), var(--url-img);
  background-size: cover;
  background-position: center;
}
.form {
  width: 400px;
  background: white;
  margin: 70px auto;
  padding: 20px 30px 40px;
  text-align: center;
  border-radius: var(--radius);
  box-shadow: var(--box-sadow);
  overflow: hidden;
}
.input {
  width: var(--width);
  padding: 20px 5px;
  display: block;
  margin-bottom: 20px;
  border: 1px solid #b39b9b;
  outline: none;
}
.input,
.form__submit {
  font-family: inherit;
}
.form__title {
  margin-bottom: 40px;
  font-size: 2rem;
}
.form__message {
  max-width: var(--width);
  min-width: var(--width);
  min-height: 150px;
  max-height: 150px;
}
.form__submit {
  display: block;
  width: var(--width);
  font-size: 1.2rem;
  background-image: var(--gradient);
  padding: 15px 30px;
  border: none;
  color: white;
  font-weight: 700;
  cursor: pointer;
}
.form__submit:hover {
  background-image: var(--gradient1);
}
