* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid {
  width: 90%;
  /* max-width: 600px; */
  height: 600px;
  margin: 30px auto;
  outline: 3px solid #000;
  display: grid;
  /* grid-template-columns: [header-start main-start]1fr 1fr 1fr 1fr [header-end main-end];
  grid-template-rows: [header-start]1fr [header-end main-start]1fr [main-end]1fr; */

  /* grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "header header header header"
    "main main main sidebar"
    "footer footer footer footer"; */

  /*PARA CREAR COLUMNAS DINÁMICAS CON MIN-CONTENT, MAX-CONTENT AND FIT-CONTENT*/
  /*min-content: tamaño mínimo posible - el de la palabra más larga; max-content: todo el contenido e la frase en una sola línea.*/
  /* grid-template-columns: min-content max-content; */

  /* fit-content: min-content al inicio tamaño de min-content hasta que sobrepases el tamaño que defino, entonces se desborda en segunda línea. */
  /* grid-template-columns: fit-content(400px); */

  /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */

  /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */

  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: (2, 1fr);
  /* justify-items: start|end|stretchcenter; 
  align-items: justify-items: start|end|stretchcenter */
  /* place-items: align-items/justify-items; */
  /* place-items: start stretch; */
  place-items: center;
}

.grid__item {
  padding: 20px 0;
  font-size: 2rem;
  color: #fff;
  text-align: center;
}

.grid :nth-child(1) {
  background: slateblue;
  /* grid-column: header-start / header-end;
  grid-row: header-start / header-end; */
}

.grid :nth-child(2) {
  background: crimson;
  /* grid-area: header; */

  /* grid-column: main-start / main-end; */
  /* grid-row: main-start / main-end; */
}

.grid :nth-child(3) {
  background: coral;
  /* grid-area: main; */

  /* grid-column: sidebar-start / sidebar-end;
  grid-row: sidebar-start / sidebar-end; */
}

.grid :nth-child(4) {
  background: indigo;
  /* grid-column: footer-start / footer-end;
  grid-row: footer-start / footer-end; */
}
