* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background: crimson;
  width: 90%;
  height: 600px;
  margin: 80px auto;
  overflow: hidden;
}
.container:hover .spidy {
  transform: translateY(0);
  transition: transform 2s ease-in-out;
}

.spidy {
  height: 550px;
  transform: translateY(-130px);
}

.triggers {
  min-height: 100vh;
}
.presionar {
  display: inline-flex;
  background: steelblue;
  color: white;
  padding: 15px 45px;
  margin: 30px;
  transition: transform 0.3s;
}
.presionar:active {
  transform: scale(1.3);
}
.cuadrado {
  width: 200px;
  height: 200px;
  background: crimson;
  margin-left: 30px;
  transition: transform 2s;
}
.cuadrado:target {
  transform: rotate(360deg);
}
