* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  max-width: 600px;
  height: 600px;
  outline: 2px solid black;
  margin: 30px auto;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item {
  --height: 90px;
  background: tomato;
  width: 90px;
  height: var(--height);
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: sans-serif;
}

.item1 {
  background: steelblue;
}

.item2 {
  background: crimson;
}

.item3 {
  background: darkcyan;
}

.item4 {
  background: darkmagenta;
}
