* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background: #f2f2f2;
  font-size: 20px;
  height: 100vw;
}
.container {
  width: 450px;
  height: 530px;
  margin: 20px auto;
  border: 5px solid crimson;
}

.box {
  background: steelblue;
  width: 100px;
  height: 100px;
  margin-top: 20px;
  /* margin-left: 20px; */
  text-align: center;
  color: white;
  font-weight: bold;
  line-height: 100px;
}
.static {
  position: static;
}
.relative {
  background: tomato;
  position: relative;
  top: 100px;
  left: 50%;
  right: 2rem;
}
.absolute {
  background: purple;
  position: absolute;
  top: 30%;
  left: 40px;
  z-index: 10;
}
.fixed {
  background: grey;
  position: fixed;
  width: 100%;
  height: auto;
  padding: 1.5rem 0;
  bottom: 0;
  right: 0;
  margin: 0;
}

.fixed a {
  color: white;
  text-decoration: none;
}
.fixed a:hover {
  text-decoration: underline;
}
