* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background: #f2f2f2;
  font-size: 20px;
  height: 600px;
}
.container {
  width: 450px;
  height: 530px;
  margin: 20px auto;
  border: 5px solid crimson;
}

.box {
  background: steelblue;
  width: 100px;
  height: 100px;
  margin-top: 20px;
  margin-left: 20px;
  text-align: center;
  color: white;
  font-weight: bold;
  line-height: 100px;
}
.static {
  position: static;
}
.relative {
  background: tomato;
  position: relative;
  top: 100px;
  left: 50%;
  right: 2rem;
}
